* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Sans-Serif;
  font-size: 15px;
  overflow-x: hidden;
}
:root {
  --color-primary: #00a7ce;
  --color-secondary: #00698f;
}
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}
#app .load {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  z-index: 999;
}
#app .load-spinner img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
}
#app .load-spinner:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 175px;
  height: 175px;
  border: 4px solid white;
  border-left-color: transparent;
  border-right-color: transparent;
  border-radius: 50%;
  transition: all 0.5s;
  animation: rotate 1s ease infinite;
}
#app .header {
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  white-space: nowrap;
  height: auto;
  background-color: var(--color-primary);
  width: 100%;
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
#app .header-logo {
  height: 100%;
  display: flex;
  justify-content: center;
  width: 35%;
}
#app .header-logo a {
  padding: 20px;
  display: inline-block;
  height: 100%;
  width: 100%;
}
#app .header-logo a img {
  width: 40%;
  object-fit: contain;
}
#app .header-name {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-right: 2rem;
}
#app .header-name h4 {
  font-weight: 400;
  color: white;
  line-height: 1;
  letter-spacing: 10px;
  text-transform: uppercase;
}
.landing {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.landing .form {
  width: 50vw;
  height: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align-last: center;
}
.landing .form-img {
  width: 100%;
}
.landing .form-img img {
  width: 30%;
}
.landing .form-input {
  width: 100%;
  padding: 2rem;
}
.landing .form-button {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing .form-button button {
  width: 30%;
}
.--input-search {
  background-color: transparent;
  width: 100%;
  height: 40px;
  border: 1px solid var(--color-secondary);
  border-radius: 50px;
  position: relative;
  transition: all 0.6s ease;
}
.--input-search:hover {
  border: 1px solid var(--color-primary);
}
.--input-search input {
  width: 94%;
  padding-left: 1rem;
  height: 100%;
  text-align-last: start;
  float: left;
  border: 0;
  background-color: transparent;
}
.--input-search input:focus-visible {
  outline: 0;
}
.--input-search button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 6%;
  background: transparent;
  outline: 0;
  border: 0;
  color: var(--color-primary);
  cursor: pointer;
}
.--btn-primary {
  position: relative;
  display: inline-block;
  font-size: 1rem;
  padding: 10px 20px;
  margin: 5px;
  border: 1px solid var(--color-secondary);
  color: var(--color-primary) !important;
  background-color: transparent;
  font-weight: 600;
  transition: 0.8s;
  cursor: pointer;
  overflow: hidden;
}
.--btn-primary:before {
  position: absolute;
  content: "";
  background: var(--color-secondary);
  z-index: -1;
  width: 100%;
  height: 0%;
  left: 0;
  bottom: 0;
  border-radius: 50% 50% 0 0;
  transition: 1s;
}
.--btn-primary:hover {
  color: white !important;
}
.--btn-primary:hover:before {
  height: 280%;
}
@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@media screen and (max-width: 900px) {
  .header {
    justify-content: center!important;
    text-align-last: center;
    padding: 1rem;
  }
  .header-logo {
    width: 100%!important;
  }
  .header-name {
    justify-content: center!important;
    padding: 0!important;
  }
  .header-name h4 {
    letter-spacing: 7px!important;
  }
  .landing .form {
    width: 100%!important;
  }
}
@media screen and (min-width: 900px) and (max-width: 1200px) {
  .header {
    justify-content: space-between !important;
  }
  .header-logo {
    width: 50% !important;
  }
  .header-logo img {
    width: 50%!important;
  }
  .header-name {
    justify-content: center !important;
    padding-right: 1rem !important;
  }
  .header-name h4 {
    letter-spacing: 7px !important;
  }
  .landing .form {
    width: 70% !important;
  }
}
@media screen and (max-width: 451px) {
  .header-name h4 {
    font-size: 0.8rem !important;
    letter-spacing: 5px !important;
  }
}